MovieServiceClient/Connected Services/MovieServiceReference/MovieLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-spmrh68/Design_Time_Addresses/MovieServiceLibrary/MovieService/MovieLibrary.MovieService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MovieLibrary.DTO" />
  <xs:import schemaLocation="http://desktop-spmrh68/Design_Time_Addresses/MovieServiceLibrary/MovieService/MovieLibrary.MovieService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MovieLibrary" />
  <xs:element name="GetMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MovieLibrary.DTO" minOccurs="0" name="GetMoviesResult" nillable="true" type="q1:ArrayOfMovieModelDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MovieLibrary.DTO" minOccurs="0" name="GetMoviesByTitleResult" nillable="true" type="q2:ArrayOfMovieModelDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MovieLibrary.DTO" minOccurs="0" name="GetMovieResult" nillable="true" type="q3:MovieModelDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MovieLibrary.DTO" minOccurs="0" name="GetReviewsResult" nillable="true" type="q4:ArrayOfReviewModelDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieId" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MovieLibrary" minOccurs="0" name="review" nillable="true" type="q5:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitReviewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>