MovieServiceClient/Connected Services/MovieServiceReference/MovieLibrary3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MovieLibrary.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MovieLibrary.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMovieModelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MovieModelDTO" nillable="true" type="tns:MovieModelDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovieModelDTO" nillable="true" type="tns:ArrayOfMovieModelDTO" />
  <xs:complexType name="MovieModelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MovieModelDTO" nillable="true" type="tns:MovieModelDTO" />
  <xs:complexType name="ArrayOfReviewModelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReviewModelDTO" nillable="true" type="tns:ReviewModelDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReviewModelDTO" nillable="true" type="tns:ArrayOfReviewModelDTO" />
  <xs:complexType name="ReviewModelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReviewText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reviewer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReviewModelDTO" nillable="true" type="tns:ReviewModelDTO" />
</xs:schema>