MovieWebApplication/Connected Services/MovieServiceReference/MovieService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MovieService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pc-lavoro/MovieService/MovieServiceLibrary2.MovieService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pc-lavoro/MovieService/MovieServiceLibrary2.MovieService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pc-lavoro/MovieService/MovieServiceLibrary2.MovieService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MovieLibrary.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMovieService_GetMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovies" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMoviesByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByTitle" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMoviesByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReviews" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_SubmitReview_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitReview" />
  </wsdl:message>
  <wsdl:message name="IMovieService_SubmitReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IMovieService">
    <wsdl:operation name="GetMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetMovies" message="tns:IMovieService_GetMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetMoviesResponse" message="tns:IMovieService_GetMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoviesByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetMoviesByTitle" message="tns:IMovieService_GetMoviesByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetMoviesByTitleResponse" message="tns:IMovieService_GetMoviesByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetMovie" message="tns:IMovieService_GetMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetMovieResponse" message="tns:IMovieService_GetMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetReviews" message="tns:IMovieService_GetReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetReviewsResponse" message="tns:IMovieService_GetReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/SubmitReview" message="tns:IMovieService_SubmitReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/SubmitReviewResponse" message="tns:IMovieService_SubmitReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetData" message="tns:IMovieService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetDataResponse" message="tns:IMovieService_GetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="MovieService" />
</wsdl:definitions>